:root {
    --bg-button: white;
    --border-button: solid 1px #888;
}

.button {
    font-size: 18px;
    background-color: var(--bg-button);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 200px;
    margin: 5px;
    box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.068);
    color: black;
    transition: 0.3s;
}

.button:active {
    background-color: #92c5a642;
    color: #49835a;
}

.button:hover {
    box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.137);
    font-size: 20px;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #92c5a6;
    color: white;
}

.button.operation:active {
    background-color: #458053;
}