.calculator {
    height: 365px;
    width: 245px;
    border-radius: 15px;
    overflow: hidden;
    /* background-color: transparent; */
    background: linear-gradient(to bottom,  white, rgba(255, 255, 255, 0.973), #ffffffc9, transparent);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:  25% repeat(4, 15%);
}