@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125));
  /* background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99)); */
}