@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Light.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: #fff;
  /* background-color: #637566; */
  background-image: url('././img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}